/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица оплат: #chetview-edit-tab3_oplata
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
/* Общее для таблицы */
#chetview-edit-tab3_oplata {  }
#chetview-edit-tab3_oplata { border:2px #951402 solid }
/* Заголовок таблицы */
#chetview-edit-tab3_oplata > thead {  }
#chetview-edit-tab3_oplata > thead { background-color:#951402;	color:#fff;	font-weight:300 }
#chetview-edit-tab3_oplata > thead > tr > th { font-family:'Oswald', sans-serif; font-weight:500; border-bottom:none; padding:8px; text-transform:uppercase }
#chetview-edit-tab3_oplata > thead > tr > th:first-child { width:20%; text-align:left }
#chetview-edit-tab3_oplata > thead > tr > th:nth-child(2) { width:15%; text-align:center }
#chetview-edit-tab3_oplata > thead > tr > th:nth-child(3) { width:65%; text-align:right }
/* Тело таблицы */
#chetview-edit-tab3_oplata > tbody { font-family:courier, courier new, serif, sans-serif; color:#666; border-bottom:none;	border-top:none }
#chetview-edit-tab3_oplata > tbody > tr > td { padding:5px 8px; line-height: 1.42857143; vertical-align: middle }
#chetview-edit-tab3_oplata > tbody > tr > td {  }
#chetview-edit-tab3_oplata > tbody > tr > td:first-child { width:20%; text-align:left }
#chetview-edit-tab3_oplata > tbody > tr > td:nth-child(2) { width:15%; text-align:center }
#chetview-edit-tab3_oplata > tbody > tr > td:nth-child(3) { width:65%; text-align:right }
#chetview-edit-tab3_oplata > tbody > tr > td.dataTables_empty { text-align:left; text-transform:none; color:#999 }
/* Подвал таблицы */
#chetview-edit-tab3_oplata > tfoot > tr > th:first-child { width:20%; text-align:left }
#chetview-edit-tab3_oplata > tfoot > tr > th:nth-child(2) { width:15%; text-align:center }
#chetview-edit-tab3_oplata > tfoot > tr > th:nth-child(3) { width:65%; text-align:right }

#chetview-edit-tab3_oplata .sorting_asc:after, #chetview-edit-tab3_oplata .sorting_desc:after { display:none }
#chetview-edit-tab3_oplata > thead > tr > th.sorting_asc { padding-right:8px }


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/*
	Пользовательская форма создания/редактирования записи
*/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata { display: flex; flex-flow: row wrap; }
#customForm_tab3_oplata fieldset legend { padding: 5px 20px; font-weight: bold; }
#customForm_tab3_oplata fieldset.name { flex: 1 50%; }
#customForm_tab3_oplata fieldset.name legend {}
#customForm_tab3_oplata fieldset.office legend {}
#customForm_tab3_oplata fieldset.hr legend { background: #ffbfbf; }
#customForm_tab3_oplata div.DTE_Field { padding:0; text-align: left; }
#customForm_tab3_oplata div.DTE_Field > label.control-label { text-align: left; font-family: 'HeliosCond', sans-serif; text-transform: none; font-style: normal; font-weight: bold; font-size: 1.3em; color: #000; }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
div.modal-dialog { margin:1.0em auto; width:80% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata {
	font-family: 'Play', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata div.Section {
	justify-content:flex-start;
	padding:0;
	background-color:#fafafa;
	display:flex;
	flex-flow:row wrap;
	flex-grow:1;
	flex-shrink:2;
	flex-basis:70%;
	align-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata div.Block100 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:100%; justify-content:flex-start; align-content:flex-start }
#customForm_tab3_oplata div.Block75 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:75%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block70 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:70%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block60 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:60%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block50 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:50%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block40 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:40%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block30 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:30%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block25 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:25%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab3_oplata div.Block20 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:20%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata > div.Section > div > fieldset > div > label.control-label { width: 100% }
#customForm_tab3_oplata > div.Section > div.Block100 > fieldset.dateplan > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
		#customForm_tab3_oplata fieldset.field10 { flex-grow:0; flex-shrink:0; flex-basis:10% }
		#customForm_tab3_oplata fieldset.field10 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field15 { flex-grow:0; flex-shrink:0; flex-basis:15% }
		#customForm_tab3_oplata fieldset.field15 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field20 {	flex-grow:0; flex-shrink:0; flex-basis:20% }
		#customForm_tab3_oplata fieldset.field20 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field25 {	flex-grow:0; flex-shrink:0; flex-basis:25% }
		#customForm_tab3_oplata fieldset.field25 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field30 {	flex-grow:0; flex-shrink:0; flex-basis:30% }
		#customForm_tab3_oplata fieldset.field30 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field40 {	flex-grow:0; flex-shrink:0; flex-basis:40% }
		#customForm_tab3_oplata fieldset.field40 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field45 {	flex-grow:0; flex-shrink:0; flex-basis:45% }
		#customForm_tab3_oplata fieldset.field45 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field50 {	flex-grow:0; flex-shrink:0; flex-basis:50% }
		#customForm_tab3_oplata fieldset.field50 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field60 {	flex-grow:0; flex-shrink:0; flex-basis:60% }
		#customForm_tab3_oplata fieldset.field60 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field70 {	flex-grow:0; flex-shrink:0; flex-basis:70% }
		#customForm_tab3_oplata fieldset.field70 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field80 {	flex-grow:0; flex-shrink:0; flex-basis:80% }
		#customForm_tab3_oplata fieldset.field80 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field90 {	flex-grow:0; flex-shrink:0; flex-basis:90% }
		#customForm_tab3_oplata fieldset.field90 > div > div { width:100% }
		#customForm_tab3_oplata fieldset.field100 { flex-grow:0; flex-shrink:0; flex-basis:100% }
		#customForm_tab3_oplata fieldset.field100 > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab3_oplata div.DTE_Field_InputControl { text-align:center }
#customForm_tab3_oplata > div.Section > div > fieldset > div.DTE_Field_Type_checkbox > label.control-label { text-align:center }
#customForm_tab3_oplata div.DTE_Field_InputControl > div > div > label { display:none }
#customForm_tab3_oplata fieldset > div > label.control-label { width:100% }

#customForm_tab3_oplata > div.Section > div > legend,
#customForm_tab3_oplata > div.Section > div > div > legend { padding: 5px 0 5px 15px; font-family: 'HeliosCond', sans-serif; font-weight: normal; border: none; border-left: 10px #b95959 solid; text-transform: none; color: #111; background-color: #ddd; }
