/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица авансов: #chetview-edit-tab4_avans
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
/* Общее для таблицы */
#chetview-edit-tab4_avans {  }
#chetview-edit-tab4_avans { border:2px #951402 solid }
#chetview-edit-tab4_avans .details-control:hover { cursor:pointer }
#chetview-edit-tab4_avans .sorting_asc:after,
#chetview-edit-tab4_avans .sorting_desc:after { display:none }
/* Заголовок таблицы */
#chetview-edit-tab4_avans > thead {  }
#chetview-edit-tab4_avans { border:2px #951402 solid }
#chetview-edit-tab4_avans > thead { background-color:#951402;	color:#fff;	font-weight:300 }
#chetview-edit-tab4_avans > thead > tr > th { font-family:'Oswald', sans-serif; font-weight:500; border-bottom:none }
#chetview-edit-tab4_avans > thead > tr > th:first-child { width:2%; text-align:center }
#chetview-edit-tab4_avans > thead > tr > th:nth-child(2) { width:15%; text-align:left }
#chetview-edit-tab4_avans > thead > tr > th:nth-child(3) { width:18%; text-align:left }
#chetview-edit-tab4_avans > thead > tr > th:nth-child(4) { width:32%; text-align:right }
#chetview-edit-tab4_avans > thead > tr > th:nth-child(5) { width:33%; text-align:right }
#chetview-edit-tab4_avans > thead > tr > th:nth-child(2):hover { cursor:default }
#chetview-edit-tab4_avans > thead > tr > th.sorting_asc { padding-right:8px }
/* Тело таблицы */
#chetview-edit-tab4_avans > tbody > tr > td { border-top:none }
#chetview-edit-tab4_avans > tbody {	font-family: Courier, Courier new, Serif; color:#333;	border-bottom:none; border-top:none }
#chetview-edit-tab4_avans > tbody > tr > td { padding:5px 8px; line-height:1.42857143; vertical-align:middle }
#chetview-edit-tab4_avans > tbody > tr > td:first-child { width:2%; text-align:center }
#chetview-edit-tab4_avans > tbody > tr > td:nth-child(2) { width:15%; text-align:left }
#chetview-edit-tab4_avans > tbody > tr > td:nth-child(3) { width:18%; text-align:left }
#chetview-edit-tab4_avans > tbody > tr > td:nth-child(4) { width:32%; text-align:right }
#chetview-edit-tab4_avans > tbody > tr > td:nth-child(5) { width:33%; text-align:right }

#chetview-edit-tab4_avans > tbody > tr > td:nth-child(2), #chetview-edit-tab4_avans > tbody > tr > td:nth-child(3), #chetview-edit-tab4_avans > tbody > tr > td:nth-child(4), #chetview-edit-tab4_avans > tbody > tr > td:nth-child(5) { font-family: Courier, Courier new, Serif; font-weight:300 }
#chetview-edit-tab4_avans > tbody > tr.dtrg-group > td { font-family: 'Play', sans-serif; font-weight:700; text-align:left; letter-spacing:0.2em }

#chetview-edit-tab4_avans > tbody > tr > td.dataTables_empty { text-align:left; text-transform:none; color:#999 }

/* Подвал таблицы */


/* Разное */
#row-edit-tab4_avans { font-family:'Oswald', sans-serif; font-size:1.0em }
#row-edit-tab4_avans > tbody >tr > td { text-align:left }
#row-edit-tab4_avans .title-column { font-family:'Oswald', sans-serif; font-weight:400 }
#row-edit-tab4_avans .data-column { font-family: Courier, Courier new, Serif; font-weight:300 }


/*
*/
h3.child-title { font-size: 1.5em; font-family:'Oswald', sans-serif; font-weight:500; line-height:1.2em; letter-spacing:normal; text-transform:uppercase }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/*
	Пользовательская форма создания/редактирования записи
*/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans { display: flex; flex-flow: row wrap; }
#customForm_tab4_avans fieldset legend { padding: 5px 20px; font-weight: bold; }
#customForm_tab4_avans fieldset.name { flex: 1 50%; }
#customForm_tab4_avans fieldset.name legend {}
#customForm_tab4_avans fieldset.office legend {}
#customForm_tab4_avans fieldset.hr legend { background: #ffbfbf; }
#customForm_tab4_avans div.DTE_Field { padding:0; text-align: left; }
#customForm_tab4_avans div.DTE_Field > label.control-label { text-align: left; font-family: 'HeliosCond', sans-serif; text-transform: none; font-style: normal; font-weight: bold; font-size: 1.3em; color: #000; }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
div.modal-dialog { margin:1.0em auto; width:80% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans {
	font-family: 'Play', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans div.Section {
	justify-content:flex-start;
	padding:0;
	background-color:#fafafa;
	display:flex;
	flex-flow:row wrap;
	flex-grow:1;
	flex-shrink:2;
	flex-basis:70%;
	align-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans div.Block100 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:100%; justify-content:flex-start; align-content:flex-start }
#customForm_tab4_avans div.Block75 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:75%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block70 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:70%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block60 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:60%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block50 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:50%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block40 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:40%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block30 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:30%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block25 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:25%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_tab4_avans div.Block20 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:20%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans > div.Section > div > fieldset > div > label.control-label { width: 100% }
#customForm_tab4_avans > div.Section > div.Block100 > fieldset.dateplan > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
		#customForm_tab4_avans fieldset.field10 { flex-grow:0; flex-shrink:0; flex-basis:10% }
		#customForm_tab4_avans fieldset.field10 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field15 { flex-grow:0; flex-shrink:0; flex-basis:15% }
		#customForm_tab4_avans fieldset.field15 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field20 {	flex-grow:0; flex-shrink:0; flex-basis:20% }
		#customForm_tab4_avans fieldset.field20 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field25 {	flex-grow:0; flex-shrink:0; flex-basis:25% }
		#customForm_tab4_avans fieldset.field25 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field30 {	flex-grow:0; flex-shrink:0; flex-basis:30% }
		#customForm_tab4_avans fieldset.field30 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field40 {	flex-grow:0; flex-shrink:0; flex-basis:40% }
		#customForm_tab4_avans fieldset.field40 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field45 {	flex-grow:0; flex-shrink:0; flex-basis:45% }
		#customForm_tab4_avans fieldset.field45 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field50 {	flex-grow:0; flex-shrink:0; flex-basis:50% }
		#customForm_tab4_avans fieldset.field50 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field60 {	flex-grow:0; flex-shrink:0; flex-basis:60% }
		#customForm_tab4_avans fieldset.field60 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field70 {	flex-grow:0; flex-shrink:0; flex-basis:70% }
		#customForm_tab4_avans fieldset.field70 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field80 {	flex-grow:0; flex-shrink:0; flex-basis:80% }
		#customForm_tab4_avans fieldset.field80 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field90 {	flex-grow:0; flex-shrink:0; flex-basis:90% }
		#customForm_tab4_avans fieldset.field90 > div > div { width:100% }
		#customForm_tab4_avans fieldset.field100 { flex-grow:0; flex-shrink:0; flex-basis:100% }
		#customForm_tab4_avans fieldset.field100 > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_tab4_avans > div.Section > div > legend,
#customForm_tab4_avans > div.Section > div > div > legend { padding: 5px 0 5px 15px; font-family: 'HeliosCond', sans-serif; font-weight: normal; border: none; border-left: 10px #b95959 solid; text-transform: none; color: #111; background-color: #ddd; }
