/*
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-details-tab3 {  }
#docview-details-tab3 .details-control:hover { cursor:hand }
/*
/*
/* Заголовок таблицы */
#report-missions > thead {	background-color:#326a86;	font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#report-missions > thead > tr > th { color:#fff; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#report-missions .sorting:after, #report-missions .sorting_asc:after, #report-missions .sorting_desc:after { display:none }
#report-missions > thead > tr > th.sorting_asc { padding-right:8px }
#report-missions > thead > tr > th.sorting_desc { padding-right:8px }
/*
/*
/* Тело таблицы */
#report-missions {  }
#report-missions > tbody { font-family:'Ubuntu', sans-serif; font-size: 0.9em; color:#666; border-bottom:none; border-top:none }
#report-missions > tbody > tr > td {  }
#report-missions > tbody > tr > td {
    padding: 5px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}
#report-missions > thead > tr > th { border-bottom:none }
#report-missions > tbody > tr > td {  }
#report-missions > tbody > tr > td:last-child { text-align:right }

#report-missions > tfoot > tr > td { padding:5px 4px }
#report-missions > tfoot {
	background-color:#999;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#report-missions > thead > tr > th:first-child, #report-missions > tbody > tr > td:first-child { width:8%; text-align:left }
	#report-missions > thead > tr > th:nth-child(2), #report-missions > tbody > tr > td:nth-child(2) { width:7%; text-align:left }
	#report-missions > thead > tr > th:nth-child(3), #report-missions > tbody > tr > td:nth-child(3) { width:7%; text-align:left }
	#report-missions > thead > tr > th:nth-child(4), #report-missions > tbody > tr > td:nth-child(4) { width:65%; text-align:left }
	#report-missions > thead > tr > th:nth-child(5), #report-missions > tbody > tr > td:nth-child(5) { width:min-intrinsic; white-space:nowrap; text-align:left }
	#report-missions > thead > tr > th:nth-child(6), #report-missions > tbody > tr > td:nth-child(6) { width:min-intrinsic; text-align:left; white-space:nowrap }
	#report-missions .details-control:hover { cursor:pointer }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#report-missions-row-details .sorting_asc:after { display:none }
	#report-missions-row-details > thead > tr > th.sorting_asc { padding-right:8px }

	#report-missions .group { font-family:'Oswald', sans-serif; font-size:1.3em; font-weight:400; color:#000; background-color:#f1f1f1 }

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-report-missions-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#row-details-report-missions {
	border:2px #666 solid;
	border-radius:5px;
	background-color:#fff;
}

#row-details-report-missions-tabs .nav > li > a { color:#fff }
#row-details-report-missions-tabs .nav > li > a:focus, #row-details-report-missions-tabs .nav > li > a:hover { background-color:transparent; }
#row-details-report-missions-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
#row-details-report-missions-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
#row-details-report-missions-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
#row-details-report-missions-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
#row-details-report-missions-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
#row-details-report-missions-tabs-menu > li > a:hover { background-color:#f1f1f1 }
#row-details-report-missions-tabs-menu > li > a::after {
	content: "";
	background: #f1f1f1;
	height: 40px;
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
#row-details-report-missions-tabs-menu > li.active > a::after,
#row-details-report-missions-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#row-details-report-missions-tabs .nav > li > a { color:#fff }
#row-details-report-missions-tabs .nav > li > a:focus, #row-details-report-missions-tabs .nav > li > a:hover { background-color:transparent; }
#row-details-report-missions-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
#row-details-report-missions-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
#row-details-report-missions-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
#row-details-report-missions-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
#row-details-report-missions-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
#row-details-report-missions-tabs-menu > li > a:hover { background-color:#f1f1f1 }
#row-details-report-missions-tabs-menu > li > a::after {
	content: "";
	background: #f1f1f1;
	height: 40px;
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
#row-details-report-missions-tabs-menu > li.active > a::after,
#row-details-report-missions-tabs-menu > li:hover > a::after { transform: scale(1) }

#row-details-report-missions-table { margin-bottom:0; background-color:transparent }
#row-details-report-missions-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
#row-details-report-missions-table > tbody > tr > td { border-top:none; padding:3px 5px; }
#row-details-report-missions-table > tbody > tr > td:first-child { text-align:left }
#row-details-report-missions-table > tbody > tr > td:nth-child(2) { text-align:left }
#row-details-report-missions-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
#row-details-report-missions-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

.row-details-report-missions-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
.row-details-report-missions-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

.row-details-report-missions-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
.row-details-report-missions-table-title { color:#666; font-weight:700 }
.row-details-report-missions-table-txt { color:#666; font-weight:300 }
.row-details-report-missions-table-link { color:#666; font-weight:500; text-decoration:underline }
.row-details-report-missions-table-link:hover { color:#666; text-decoration:none }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
