/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */

#zayvview-zayv-linked td.highlight_td { background-color:#fafafa; font-weight:500; color:#000 }
#zayvview-zayv-linked td.highlight_0 { background-color:#fafafa }
#zayvview-zayv-linked td.highlight_1 { background-color:#fafafa }
#zayvview-zayv-linked td.highlight_2 { background-color:#fafafa }
#zayvview-zayv-linked.dataTable tbody tr.selected td.highlight_0,
#zayvview-zayv-linked.dataTable tbody tr.selected td.highlight_1,
#zayvview-zayv-linked.dataTable tbody tr.selected td.highlight_2 { color:#666 }

/*
/*
/* Заголовок таблицы */
#zayvview-zayv-linked > thead {	background-color:#f1f1f1;	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#zayvview-zayv-linked > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#zayvview-zayv-linked .sorting:after, #zayvview-zayv-linked .sorting_asc:after, #zayvview-zayv-linked .sorting_desc:after { display:none }
#zayvview-zayv-linked > thead > tr > th.sorting, #zayvview-zayv-linked > thead > tr > th.sorting_asc, #zayvview-zayv-linked > thead > tr > th.sorting_desc { padding-right:8px }
/*
/*
/* Тело таблицы */
#zayvview-zayv-linked {  }
#zayvview-zayv-linked > tbody { font-family:'Ubuntu', sans-serif; font-size: 0.85em; color:#666; border-bottom:none; border-top:none }
#zayvview-zayv-linked > tbody > tr > td {  }
#zayvview-zayv-linked > tbody > tr > td {
    padding: 2px 5px;
    line-height: 1.42857143;
    vertical-align: middle;
}
#zayvview-zayv-linked > thead > tr > th { padding:8px 5px; border-bottom:none }
#zayvview-zayv-linked > tbody > tr > td {  }
#zayvview-zayv-linked > tbody > tr > td:last-child { text-align:right }

#zayvview-zayv-linked > tfoot > tr > td { padding:5px 4px }
#zayvview-zayv-linked > tfoot {
	background-color:#999;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#zayvview-zayv-linked > thead > tr > th:first-child, #zayvview-zayv-linked > tbody > tr > td:first-child { width:1%; text-align:center }
	#zayvview-zayv-linked > thead > tr > th:nth-child(2), #zayvview-zayv-linked > tbody > tr > td:nth-child(2) { width:2%; text-align:center }
	#zayvview-zayv-linked > thead > tr > th:nth-child(3), #zayvview-zayv-linked > tbody > tr > td:nth-child(3) { width:7%; text-align:left }
	#zayvview-zayv-linked > thead > tr > th:nth-child(4), #zayvview-zayv-linked > tbody > tr > td:nth-child(4) { width:5%; text-align:center }
	#zayvview-zayv-linked > thead > tr > th:nth-child(5), #zayvview-zayv-linked > tbody > tr > td:nth-child(5) { width:5%; text-align:center }
	#zayvview-zayv-linked > thead > tr > th:nth-child(6), #zayvview-zayv-linked > tbody > tr > td:nth-child(6) { width:65%; text-align:left }
	#zayvview-zayv-linked > thead > tr > th:nth-child(7), #zayvview-zayv-linked > tbody > tr > td:nth-child(7) { width:10%; text-align:center }
	#zayvview-zayv-linked > thead > tr > th:nth-child(8), #zayvview-zayv-linked > tbody > tr > td:nth-child(8) { width:5%; text-align:left; color:#000; white-space:nowrap }

	#zayvview-zayv-linked .details-control:hover { cursor:pointer }

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#zayvview-zayv-linked .sorting_asc:after { display:none }
	#zayvview-zayv-linked > thead > tr > th.sorting_asc { padding-right:8px }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

	#column1_search_current, #column2_search_current, #column3_search_current, #column4_search_current {
		width: 100%;
		padding: 5px 5px;
		font-weight: 400;
		font-size: 0.9em;
		color: #333;
		max-height:31px;
	}
	#column1_search_current { text-align:center }
	#column2_search_current { text-align:center }
	#column3_search_current { text-align:left }
	#column4_search_current { text-align:left }


#zayvsearch-filters-block .panel-title {
    font-family: 'HeliosCond', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 5px;
    text-transform:none;
}
#zayvsearch-filters-block .panel { border:transparent }



	#filters_clear_current, #filters_apply_current { padding:6px; font-weight:400; font-size:0.9em	}

	#zayvview-current-filters { padding:15px 0; background-color:#f1f1f1 }
	#columnSearch_btnApply .focus, #columnSearch_btnApply .active:focus, #columnSearch_btnApply:active.focus, #columnSearch_btnApply:active:focus, #columnSearch_btnApply:focus { outline:none; border-color:#ccc }
	#columnSearch_btnClear .focus, #columnSearch_btnClear .active:focus, #columnSearch_btnClear:active.focus, #columnSearch_btnClear:active:focus, #columnSearch_btnClear:focus { outline:none; border-color:#ccc }

	#row-details-current-table .title-column { color:#333; font-family: 'Oswald', sans-serif; font-weight:400; text-align:left }
	#row-details-current-table .data-column { font-family: Courier, Courier new, Serif; font-weight:300; text-align:left }

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-zayvview-zayv-linked-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#template-details-zayv-linked { border:2px #666 solid; border-radius:5px; background-color:#fff }

	#row-details-zayvview-zayv-linked-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav > li > a:focus, #row-details-zayvview-zayv-linked-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-zayv-linked-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-zayv-linked-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-zayv-linked-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-zayv-linked-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-zayv-linked-tabs-menu > li.active > a::after,
	#row-details-zayvview-zayv-linked-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#row-details-zayvview-zayv-linked-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav > li > a:focus, #row-details-zayvview-zayv-linked-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-zayv-linked-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-zayv-linked-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-zayv-linked-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-zayv-linked-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-zayv-linked-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-zayv-linked-tabs-menu > li.active > a::after,
	#row-details-zayvview-zayv-linked-tabs-menu > li:hover > a::after { transform: scale(1) }

#row-details-zayvview-zayv-linked-table { margin-bottom:0; background-color:transparent }
#row-details-zayvview-zayv-linked-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
#row-details-zayvview-zayv-linked-table > tbody > tr > td { border-top:none; padding:3px 5px; }
#row-details-zayvview-zayv-linked-table > tbody > tr > td:first-child { text-align:left }
#row-details-zayvview-zayv-linked-table > tbody > tr > td:nth-child(2) { text-align:left }
#row-details-zayvview-zayv-linked-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
#row-details-zayvview-zayv-linked-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

.row-details-zayvview-zayv-linked-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
.row-details-zayvview-zayv-linked-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

.row-details-zayvview-zayv-linked-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
.row-details-zayvview-zayv-linked-table-title { color:#666; font-weight:700 }
.row-details-zayvview-zayv-linked-table-txt { color:#666; font-weight:300 }
.row-details-zayvview-zayv-linked-table-link { color:#666; font-weight:500; text-decoration:underline }
.row-details-zayvview-zayv-linked-table-link:hover { color:#666; text-decoration:none }
.txt-parameter { margin:0 10px; padding:0 30px; border-bottom:1px #ccc solid; font-family:'Courier New' }

.tr-title { background:#f1f1f1 }
.td-title { background:#f1f1f1 }
