/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ТАБЛИЦА ДОПОЛНИТЕЛЬНЫХ СУММ : blankview-edit-blankwork-summadop-table

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
#blankview-edit-blankwork-summadop { padding:10px 15px; border:1px #ddd solid; border-radius:4px }
#blankview-edit-blankwork-summadop-table > tbody > tr.selected { color:#000;	background-color:#e9e9e9 }
/* Общее для таблицы */
#blankview-edit-blankwork-summadop-table {  }
#blankview-edit-blankwork-summadop-table .details-control:hover { cursor:hand }
#blankview-edit-blankwork-summadop > h3 { color:#111; font-family:'Oswald', sans-serif; font-weight:400; font-size:1.7em; letter-spacing:0.05em }
/* Заголовок таблицы */
#blankview-edit-blankwork-summadop-table > thead {	display:none }
#blankview-edit-blankwork-summadop-table > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#blankview-edit-blankwork-summadop-table .sorting:after, #blankview-edit-blankwork-table .sorting_asc:after, #blankview-edit-blankwork-table .sorting_desc:after { display:none }
#blankview-edit-blankwork-summadop-table > thead > tr > th.sorting_asc { padding-right:8px }
#blankview-edit-blankwork-summadop-table > thead > tr > th.sorting_desc { padding-right:8px }
#blankview-edit-blankwork-summadop-table .sorting_asc:after { display:none }
#blankview-edit-blankwork-summadop-table > thead > tr > th.sorting_asc { padding-right:8px }
/* Тело таблицы */
#blankview-edit-blankwork-summadop-table > tbody > tr > td { padding:5px; border:none }
#blankview-edit-blankwork-summadop-table > tbody > tr > td:first-child { width:10%; text-align:left }
#blankview-edit-blankwork-summadop-table > tbody > tr > td:nth-child(2) { width:7%; text-align:left }
#blankview-edit-blankwork-summadop-table > tbody > tr > td:nth-child(3) { width:68%; text-align:left }
#blankview-edit-blankwork-summadop-table > tbody > tr > td:nth-child(4) { width:15%; text-align:right }
/* Разное */
#blankview-edit-blankwork-summadop-table a.blank_link { color:#08C; text-decoration:underline }
#blankview-edit-blankwork-summadop-table a.blank_link:hover { text-decoration:none }
