.gitignore
.gitattributes
.editorconfig
.htaccess
/.vscode/*
/_tmp/*
/adminize/*
/_assets/_PHPExcel/*
/_assets/cron-phpscript/addons/_Morpher/*
/_assets/cron-phpscript/addons/_NCL/*
/_assets/cron-phpscript/addons/_PHPOffice/*
/_assets/libs/*
/_assets/fonts/*
/_assets/dbconn/*
/tmp/*
config.*.*