/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-details-tab1 {  }
#docview-details-tab1 .details-control:hover { cursor:hand }
/*
/*
/* Заголовок таблицы */
#docview-doc-list > thead {	background-color:#f1f1f1;	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-doc-list > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#docview-doc-list .sorting:after, #docview-doc-list .sorting_asc:after, #docview-doc-list .sorting_desc:after { display:none }
#docview-doc-list > thead > tr > th.sorting, #docview-doc-list > thead > tr > th.sorting_asc, #docview-doc-list > thead > tr > th.sorting_desc { padding-right:8px }
/*
/*
/* Тело таблицы */
#docview-doc-list {  }
#docview-doc-list > tbody { font-family:'Ubuntu', sans-serif; font-size: 0.9em; color:#666; border-bottom:none; border-top:none }
#docview-doc-list > tbody > tr > td {  }
#docview-doc-list > tbody > tr > td {
    padding: 2px 5px;
    line-height: 1.42857143;
    vertical-align: middle;
}
#docview-doc-list > thead > tr > th { border-bottom:none }
#docview-doc-list > tbody > tr > td:last-child { /* text-align:right */ }

#docview-doc-list > tfoot > tr > td { padding:5px 4px }
#docview-doc-list > tfoot {	background-color:#999 }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#docview-doc-list > thead > tr > th:first-child, #docview-doc-list > tbody > tr > td:first-child { width:2%; text-align:center }
	#docview-doc-list > thead > tr > th:nth-child(2), #docview-doc-list > tbody > tr > td:nth-child(2) { width:5%; text-align:center }
	#docview-doc-list > thead > tr > th:nth-child(3), #docview-doc-list > tbody > tr > td:nth-child(3) { width:5%; text-align:center }
	#docview-doc-list > thead > tr > th:nth-child(4), #docview-doc-list > tbody > tr > td:nth-child(4) { width:78%; text-align:left }
	#docview-doc-list > thead > tr > th:nth-child(5), #docview-doc-list > tbody > tr > td:nth-child(5) { width:10%; text-align:center; color:#000; white-space:nowrap }
	#docview-doc-list .details-control:hover { cursor:pointer }

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#docview-doc-list .sorting_asc:after { display:none }
	#docview-doc-list > thead > tr > th.sorting_asc { padding-right:8px }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/**/
/**/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-actview-docs-main-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/**/
/**/
	#template-details-docs-main { border:2px #666 solid; border-radius:5px; background-color:#fff }

	#row-details-actview-docs-main-tabs .nav > li > a { color:#fff }
	#row-details-actview-docs-main-tabs .nav > li > a:focus, #row-details-actview-docs-main-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-actview-docs-main-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-actview-docs-main-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-actview-docs-main-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-actview-docs-main-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-actview-docs-main-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-actview-docs-main-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-actview-docs-main-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-actview-docs-main-tabs-menu > li.active > a::after,
	#row-details-actview-docs-main-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#row-details-actview-docs-main-tabs .nav > li > a { color:#fff }
	#row-details-actview-docs-main-tabs .nav > li > a:focus, #row-details-actview-docs-main-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-actview-docs-main-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-actview-docs-main-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-actview-docs-main-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-actview-docs-main-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-actview-docs-main-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-actview-docs-main-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-actview-docs-main-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-actview-docs-main-tabs-menu > li.active > a::after,
	#row-details-actview-docs-main-tabs-menu > li:hover > a::after { transform: scale(1) }

	#row-details-actview-docs-main-table { margin-bottom:0; background-color:transparent }
	#row-details-actview-docs-main-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
	#row-details-actview-docs-main-table > tbody > tr > td { border-top:none; padding:3px 5px; }
	#row-details-actview-docs-main-table > tbody > tr > td:first-child { text-align:left }
	#row-details-actview-docs-main-table > tbody > tr > td:nth-child(2) { text-align:left }
	#row-details-actview-docs-main-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
	#row-details-actview-docs-main-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

	.row-details-actview-docs-main-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
	.row-details-actview-docs-main-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

	.row-details-actview-docs-main-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
	.row-details-actview-docs-main-table-title { color:#666; font-weight:700 }
	.row-details-actview-docs-main-table-txt { color:#666; font-weight:300 }
	.row-details-actview-docs-main-table-link { color:#666; font-weight:500; text-decoration:underline }
	.row-details-actview-docs-main-table-link:hover { color:#666; text-decoration:none }
	.txt-parameter { margin:0 10px; padding:0 30px; border-bottom:1px #ccc solid; font-family:'Courier New' }

	.tr-title { background:#f1f1f1 }
	.td-title { background:#f1f1f1 }
