/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
	#sp-tab5_ispolniteliruk-table {  }
	#sp-tab5_ispolniteliruk-table .details-control:hover { cursor:pointer }
/*
/*
/* Заголовок таблицы */
	#sp-tab5_ispolniteliruk-table > thead {	background-color:#f1f1f1;	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
	#sp-tab5_ispolniteliruk-table > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
	#sp-tab5_ispolniteliruk-table .sorting:after, #sp-tab5_ispolniteliruk-table .sorting_asc:after, #sp-tab5_ispolniteliruk-table .sorting_desc:after { display:none }
	#sp-tab5_ispolniteliruk-table > thead > tr > th.sorting, #sp-tab5_ispolniteliruk-table > thead > tr > th.sorting_asc, #sp-tab5_ispolniteliruk-table > thead > tr > th.sorting_desc { padding-right:8px }
/*
/*
/* Тело таблицы */
	#sp-tab5_ispolniteliruk-table {  }
	#sp-tab5_ispolniteliruk-table > tbody { font-family:'Ubuntu', sans-serif; font-size: 0.9em; color:#666; border-bottom:none; border-top:none }
	#sp-tab5_ispolniteliruk-table > tbody > tr > td { padding:2px 5px; line-height:1.42857143; vertical-align:middle }
	#sp-tab5_ispolniteliruk-table > thead > tr > th { border-bottom:none }
	#sp-tab5_ispolniteliruk-table > tbody > tr > td:last-child { text-align:right }

	#sp-tab5_ispolniteliruk-table > tfoot > tr > td { padding:5px 4px }
	#sp-tab5_ispolniteliruk-table > tfoot {
		background-color:#999;
	}
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#sp-tab5_ispolniteliruk-table > thead > tr > th:first-child, #sp-tab5_ispolniteliruk-table > tbody > tr > td:first-child { width:2%; text-align:center }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(2), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(2) { width:13%; text-align:left }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(3), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(3) { width:20%; text-align:left }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(4), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(4) { width:30%; text-align:left }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(5), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(5) { width:15%; text-align:left }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(6), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(6) { width:15%; text-align:left }
	#sp-tab5_ispolniteliruk-table > thead > tr > th:nth-child(7), #sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(7) { width:5%; text-align:center }

	#sp-tab5_ispolniteliruk-table .sorting_asc:after { display:none }
	#sp-tab5_ispolniteliruk-table > thead > tr > th.sorting_asc { padding-right:8px }
/**/
/**/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-sp-tab5_ispolniteliruk-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/**/
/**/
	#template-details-sp-tab5_ispolniteliruk { border:2px #666 solid; border-radius:5px; background-color:#fff }

	#row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a { color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a:focus, #row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-sp-tab5_ispolniteliruk-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-sp-tab5_ispolniteliruk-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li.active > a::after,
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a { color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a:focus, #row-details-sp-tab5_ispolniteliruk-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-sp-tab5_ispolniteliruk-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-sp-tab5_ispolniteliruk-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-sp-tab5_ispolniteliruk-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li.active > a::after,
	#row-details-sp-tab5_ispolniteliruk-tabs-menu > li:hover > a::after { transform: scale(1) }

	#row-details-sp-tab5_ispolniteliruk-table { margin-bottom:0; background-color:transparent }
	#row-details-sp-tab5_ispolniteliruk-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
	#row-details-sp-tab5_ispolniteliruk-table > tbody > tr > td { border-top:none; padding:3px 5px; }
	#row-details-sp-tab5_ispolniteliruk-table > tbody > tr > td:first-child { text-align:left }
	#row-details-sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(2) { text-align:left }
	#row-details-sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
	#row-details-sp-tab5_ispolniteliruk-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

	.row-details-sp-tab5_ispolniteliruk-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
	.row-details-sp-tab5_ispolniteliruk-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

	.row-details-sp-tab5_ispolniteliruk-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
	.row-details-sp-tab5_ispolniteliruk-table-title { color:#666; font-weight:700 }
	.row-details-sp-tab5_ispolniteliruk-table-txt { color:#666; font-weight:300 }
	.row-details-sp-tab5_ispolniteliruk-table-link { color:#666; font-weight:500; text-decoration:underline }
	.row-details-sp-tab5_ispolniteliruk-table-link:hover { color:#666; text-decoration:none }
	.txt-parameter { margin:0 10px; padding:0 30px; border-bottom:1px #ccc solid; font-family:'Courier New' }

	.tr-title { background:#f1f1f1 }
	.td-title { background:#f1f1f1 }
