/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица счетов-фактур: #zayvview-chet-child-chetf
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#zayvview-chet-child-chetf {  }
#zayvview-chet-child-chetf { /* border:2px #951402 solid */ }
#zayvview-chet-child-chetf .details-control:hover { cursor:pointer }
#zayvview-chet-child-chetf .font-courier { font-family:courier,courier new,serif }

#zayvview-chet-child-chetf.dataTable tbody > tr.selected, #zayvview-chet-child-chetf.dataTable tbody > tr > .selected {  }
#zayvview-chet-child-chetf.dataTable tbody tr.selected, #zayvview-chet-child-chetf.dataTable tbody th.selected, #zayvview-chet-child-chetf.dataTable tbody td.selected { color:white }
/*
/*
/* Заголовок таблицы */
#zayvview-chet-child-chetf > thead {	background-color:#f1f1f1;	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#zayvview-chet-child-chetf > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#zayvview-chet-child-chetf > thead > tr > th:first-child { text-align:center }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(2) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(3) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(4) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(5) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(6) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(7) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(8) { text-align:center }
/* Тело таблицы */
#zayvview-chet-child-chetf > tbody { font-size:0.9em; color:#666; border-bottom:none;	border-top:none }
#zayvview-chet-child-chetf > tbody > tr > td { padding:2px 5px; line-height: 1.42857143; vertical-align: middle }
#zayvview-chet-child-chetf > tbody > tr > td {  }
#zayvview-chet-child-chetf > tbody > tr > td:first-child { width:1%; text-align:center }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(2) { width:7%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(3) { width:12%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(4) { width:12%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(5) { width:38%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(6) { width:12%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(7) { width:15%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(8) { width:3%; text-align:center }
#zayvview-chet-child-chetf > tbody > tr > td.dataTables_empty { text-align:left; text-transform:none; color:#666; background-color:#fafafa }
/* Подвал таблицы */
#zayvview-chet-child-chetf > tfoot > tr > th:first-child { text-align:center }
#zayvview-chet-child-chetf > tfoot > tr > th:nth-child(2) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(3) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(4) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(5) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(6) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(7) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(8) { text-align:center }

#zayvview-chet-child-chetf .sorting_asc:after, #zayvview-chet-child-chetf .sorting_desc:after, #zayvview-chet-child-chetf .sorting:after { display:none }
#zayvview-chet-child-chetf > thead > tr > th.sorting_asc { padding-right:8px }
/* Подвал таблицы */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-zayvview-chet-child-chetf-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#template-details-chet-child-chetf { border:2px #666 solid; border-radius:5px; background-color:#fff }

	#row-details-zayvview-chet-child-chetf-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav > li > a:focus, #row-details-zayvview-chet-child-chetf-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-chet-child-chetf-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-chet-child-chetf-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-chet-child-chetf-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-chet-child-chetf-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-chet-child-chetf-tabs-menu > li.active > a::after,
	#row-details-zayvview-chet-child-chetf-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#row-details-zayvview-chet-child-chetf-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav > li > a:focus, #row-details-zayvview-chet-child-chetf-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chet-child-chetf-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-chet-child-chetf-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-chet-child-chetf-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-chet-child-chetf-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-chet-child-chetf-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-chet-child-chetf-tabs-menu > li.active > a::after,
	#row-details-zayvview-chet-child-chetf-tabs-menu > li:hover > a::after { transform: scale(1) }

#row-details-zayvview-chet-child-chetf-table { margin-bottom:0; background-color:transparent }
#row-details-zayvview-chet-child-chetf-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
#row-details-zayvview-chet-child-chetf-table > tbody > tr > td { border-top:none; padding:3px 5px; }
#row-details-zayvview-chet-child-chetf-table > tbody > tr > td:first-child { text-align:left }
#row-details-zayvview-chet-child-chetf-table > tbody > tr > td:nth-child(2) { text-align:left }
#row-details-zayvview-chet-child-chetf-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
#row-details-zayvview-chet-child-chetf-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

.row-details-zayvview-chet-child-chetf-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
.row-details-zayvview-chet-child-chetf-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

.row-details-zayvview-chet-child-chetf-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
.row-details-zayvview-chet-child-chetf-table-title { color:#666; font-weight:700 }
.row-details-zayvview-chet-child-chetf-table-txt { color:#666; font-weight:300 }
.row-details-zayvview-chet-child-chetf-table-link { color:#666; font-weight:500; text-decoration:underline }
.row-details-zayvview-chet-child-chetf-table-link:hover { color:#666; text-decoration:none }
.txt-parameter { margin:0 10px; padding:0 30px; border-bottom:1px #ccc solid; font-family:'Courier New' }

.tr-title { background:#f1f1f1 }
.td-title { background:#f1f1f1 }

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

#zayvview-chet-child-chetf > tbody > tr > td.dataTables_empty {
    padding: 15px 5px 15px 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top:none;
    border-bottom:none;
    background-color:#fff2f2;
    font-family: 'Play', sans-serif;
    font-size: 12px;
    text-align: center;
}
