/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#zayvview-details-tab3 {  }
#zayvview-details-tab3 .details-control:hover { cursor:hand }
/*
/*
/* Заголовок таблицы */
#zayvview-chetf-main > thead {	background-color:#f1f1f1;	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#zayvview-chetf-main > thead > tr > th { color:#333; border-bottom:none; font-weight:500; font-size:1.2em; text-transform:uppercase }
#zayvview-chetf-main > thead > tr > th.sorting_asc { padding-right:8px }
#zayvview-chetf-main > thead > tr > th.sorting_desc { padding-right:8px }
/*
/*
/* Тело таблицы */
#zayvview-chetf-main {  }
#zayvview-chetf-main > tbody { font-family:'Ubuntu', sans-serif; font-size: 0.85em; color:#666; border-bottom:none; border-top:none }
#zayvview-chetf-main > tbody > tr > td {  }
#zayvview-chetf-main > tbody > tr > td {
    padding: 2px 5px;
    line-height: 1.42857143;
    vertical-align: middle;
}
#zayvview-chetf-main > thead > tr > th { padding:8px 5px; border-bottom:none }
#zayvview-chetf-main > tbody > tr > td {  }
#zayvview-chetf-main > tbody > tr > td:last-child { text-align:right }

#zayvview-chetf-main > tfoot > tr > td { padding:5px 4px }
#zayvview-chetf-main > tfoot {
	background-color:#999;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#zayvview-chetf-main > thead > tr > th:first-child, #zayvview-chetf-main > tbody > tr > td:first-child { width:1%; text-align:center }
	#zayvview-chetf-main > thead > tr > th:nth-child(2), #zayvview-chetf-main > tbody > tr > td:nth-child(2) { width:7%; text-align:left }
	#zayvview-chetf-main > thead > tr > th:nth-child(3), #zayvview-chetf-main > tbody > tr > td:nth-child(3) { width:10%; text-align:left }
	#zayvview-chetf-main > thead > tr > th:nth-child(4), #zayvview-chetf-main > tbody > tr > td:nth-child(4) { width:10%; text-align:left }
	#zayvview-chetf-main > thead > tr > th:nth-child(5), #zayvview-chetf-main > tbody > tr > td:nth-child(5) { width:7%; text-align:center }
	#zayvview-chetf-main > thead > tr > th:nth-child(6), #zayvview-chetf-main > tbody > tr > td:nth-child(6) { text-align:left }
	#zayvview-chetf-main > thead > tr > th:nth-child(7), #zayvview-chetf-main > tbody > tr > td:nth-child(7) { width:20%; text-align:left }
	#zayvview-chetf-main > thead > tr > th:nth-child(8), #zayvview-chetf-main > tbody > tr > td:nth-child(8) { width:10% }
	#zayvview-chetf-main > thead > tr > th:nth-child(9), #zayvview-chetf-main > tbody > tr > td:nth-child(9) { width:8%; text-align:center }
	#zayvview-chetf-main > thead > tr > th:nth-child(10), #zayvview-chetf-main > tbody > tr > td:nth-child(10) { width:2%; text-align:center }
	#zayvview-chetf-main > thead > tr > th:nth-child(11), #zayvview-chetf-main > tbody > tr > td:nth-child(11) { width:2%; text-align:center }

	#zayvview-chetf-main .details-control:hover { cursor:pointer }

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#zayvview-chetf-main .sorting:after, #zayvview-chetf-main .sorting_asc:after, #zayvview-chetf-main .sorting_desc:after {
/* 		display:none; */
		font-size:0.8em;
		top:1px;
		right:3px;
	}
	#zayvview-chetf-main > thead > tr > th.sorting, #zayvview-chetf-main > thead > tr > th.sorting_asc, #zayvview-chetf-main > thead > tr > th.sorting_desc { padding-right:20px }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

	#column1_search_chet, #column2_search_chet, #column3_search_chet, #column4_search_chet {
		width: 100%;
		padding: 5px 5px;
		font-weight: 400;
		font-size: 0.9em;
		color: #333;
		max-height:31px;
	}
	#column1_search_chet { text-align:center }
	#column2_search_chet { text-align:center }
	#column3_search_chet { text-align:left }
	#column4_search_chet { text-align:left }

	#filters_clear_chet, #filters_apply_chet { padding:6px; font-weight:400; font-size:0.9em	}

	#zayvview-chetf-filters { padding:15px 0; background-color:#f1f1f1 }
	#columnSearch_btnApply .focus, #columnSearch_btnApply .active:focus, #columnSearch_btnApply:active.focus, #columnSearch_btnApply:active:focus, #columnSearch_btnApply:focus { outline:none; border-color:#ccc }
	#columnSearch_btnClear .focus, #columnSearch_btnClear .active:focus, #columnSearch_btnClear:active.focus, #columnSearch_btnClear:active:focus, #columnSearch_btnClear:focus { outline:none; border-color:#ccc }

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-zayvview-chetf-main-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#template-details-chetf-main { border:2px #666 solid; border-radius:5px; background-color:#fff }

	#row-details-zayvview-chetf-main-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav > li > a:focus, #row-details-zayvview-chetf-main-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-chetf-main-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-chetf-main-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-chetf-main-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-chetf-main-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-chetf-main-tabs-menu > li.active > a::after,
	#row-details-zayvview-chetf-main-tabs-menu > li:hover > a::after { transform: scale(1) }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
	#row-details-zayvview-chetf-main-tabs .nav > li > a { color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav > li > a:focus, #row-details-zayvview-chetf-main-tabs .nav > li > a:hover { background-color:transparent; }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li.active > a { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li > a:hover { color: #111 !important; background-color:#fff }
	#row-details-zayvview-chetf-main-tabs .nav-tabs > li > a::after { background:#f1f1f1 }
	#row-details-zayvview-chetf-main-tabs > div.row > div > ul > li > a { font-family: 'Play', sans-serif }

/* Изменено 20.06.2019 --- */
	#row-details-zayvview-chetf-main-tabs-menu { background:#666; padding:0; border-bottom:none; margin-bottom:20px }
	#row-details-zayvview-chetf-main-tabs-menu > li > a:hover { background-color:#f1f1f1 }
	#row-details-zayvview-chetf-main-tabs-menu > li > a::after {
		content: "";
		background: #f1f1f1;
		height: 40px;
		z-index: -1;
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: -1px;
		transition: all 250ms ease 0s;
		transform: scale(0);
	}
	#row-details-zayvview-chetf-main-tabs-menu > li.active > a::after,
	#row-details-zayvview-chetf-main-tabs-menu > li:hover > a::after { transform: scale(1) }

#row-details-zayvview-chetf-main-table { margin-bottom:0; background-color:transparent }
#row-details-zayvview-chetf-main-table > tbody { color:#333; font-family:'Play', sans-serif; font-weight:300; font-size:1.0em }
#row-details-zayvview-chetf-main-table > tbody > tr > td { border-top:none; padding:3px 5px; }
#row-details-zayvview-chetf-main-table > tbody > tr > td:first-child { text-align:left }
#row-details-zayvview-chetf-main-table > tbody > tr > td:nth-child(2) { text-align:left }
#row-details-zayvview-chetf-main-table > tbody > tr > td:nth-child(3) { text-align:left; vertical-align:bottom }
#row-details-zayvview-chetf-main-table > tbody > tr > td:nth-child(4) { text-align:left; vertical-align:bottom }

.row-details-zayvview-chetf-main-table-title_blank { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.5em; text-transform:none; font-weight:500; text-align:left; padding:0 25px; line-height:1.5em }
.row-details-zayvview-chetf-main-table-blankstatus { color:#336a86; font-family:'Oswald', sans-serif; font-size:1.2em; text-transform:none; font-weight:200; text-align:left; padding:0 25px }

.row-details-zayvview-chetf-main-table-title_topic { color:#000; text-transform:uppercase; font-weight:700 }
.row-details-zayvview-chetf-main-table-title { color:#666; font-weight:700 }
.row-details-zayvview-chetf-main-table-txt { color:#666; font-weight:300 }
.row-details-zayvview-chetf-main-table-link { color:#666; font-weight:500; text-decoration:underline }
.row-details-zayvview-chetf-main-table-link:hover { color:#666; text-decoration:none }
.txt-parameter { margin:0 10px; padding:0 30px; border-bottom:1px #ccc solid; font-family:'Courier New' }

.tr-title { background:#f1f1f1 }
.td-title { background:#f1f1f1 }
