/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица зачтенных авансов: #docview-edit-tab3_avans
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
/* Общее для таблицы */
#docview-edit-tab3_avans {}

#docview-edit-tab3_avans .details-control:hover {
    cursor: pointer
}

/* Заголовок таблицы */
#docview-edit-tab3_avans>thead {
    background-color: #f1f1f1;
    color: #111;
    font-family: 'Oswald', sans-serif;
    border-bottom: none;
    border-top: none
}

#docview-edit-tab3_avans>thead>tr>th {
    color: #666;
    border-bottom: none;
    font-weight: 500;
    font-size: 1.0em;
    text-transform: uppercase;
    padding: 5px
}

#docview-edit-tab3_avans .sorting:after,
#docview-edit-tab3_avans .sorting_asc:after,
#docview-edit-tab3_avans .sorting_desc:after {
    display: none
}

#docview-edit-tab3_avans>thead>tr>th.sorting,
#docview-edit-tab3_avans>thead>tr>th.sorting_asc,
#docview-edit-tab3_avans>thead>tr>th.sorting_desc {
    padding-right: 8px
}

/* Тело таблицы */
#docview-edit-tab3_avans>tbody {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    color: #666;
    border-bottom: none;
    border-top: none
}

#docview-edit-tab3_avans>tbody>tr>td {
    padding: 2px 5px;
    line-height: 1.42857143;
    vertical-align: middle
}

#docview-edit-tab3_avans>thead>tr>th:first-child,
#docview-edit-tab3_avans>tbody>tr>td:first-child,
#docview-edit-tab3_avans>tfoot>tr>th:first-child {
    width: 20%;
    text-align: left
}

#docview-edit-tab3_avans>thead>tr>th:nth-child(2),
#docview-edit-tab3_avans>tbody>tr>td:nth-child(2),
#docview-edit-tab3_avans>tfoot>tr>th:nth-child(2) {
    width: 18%;
    text-align: center
}

#docview-edit-tab3_avans>thead>tr>th:nth-child(3),
#docview-edit-tab3_avans>tbody>tr>td:nth-child(3),
#docview-edit-tab3_avans>tfoot>tr>th:nth-child(3) {
    width: 18%;
    text-align: center
}

#docview-edit-tab3_avans>thead>tr>th:nth-child(4),
#docview-edit-tab3_avans>tbody>tr>td:nth-child(4),
#docview-edit-tab3_avans>tfoot>tr>th:nth-child(4) {
    width: 44%;
    text-align: right
}

#docview-edit-tab3_avans>tbody>tr>td.dataTables_empty {
    text-align: left;
    text-transform: none;
    color: #999
}

/* Подвал таблицы */
#docview-edit-tab3_avans .sorting_asc:after,
#docview-edit-tab3_avans .sorting_desc:after {
    display: none
}

#docview-edit-tab3_avans>thead>tr>th.sorting_asc {
    padding-right: 8px
}