/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ПАНЕЛЬ ФИЛЬТРОВ

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
#logsearch-filters-block { margin-bottom:30px }
#logsearch-filters-block .panel-title {
    font-family: 'HeliosCond', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 5px;
    text-transform:none;
}
#logsearch-filters-block .panel { border:transparent }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
	#column1_search_current, #column2_search_current, #column3_search_current, #column4_search_current {
		width: 100%;
		padding: 5px 5px;
		font-weight: 400;
		font-size: 0.9em;
		color: #333;
		max-height:31px;
	}
	#column1_search_current { text-align:center }
	#column2_search_current { text-align:center }
	#column3_search_current { text-align:left }
	#column4_search_current { text-align:left }

	#filters_clear_current, #filters_apply_current { padding:6px; font-weight:400; font-size:0.9em	}

	#actview-current-filters { padding:15px 0; background-color:#f1f1f1 }
	#columnSearch_btnApply_tab2 .focus, #columnSearch_btnApply_tab2 .active:focus, #columnSearch_btnApply_tab2:active.focus, #columnSearch_btnApply_tab2:active:focus, #columnSearch_btnApply_tab2:focus { outline:none; border-color:#ccc }
	#columnSearch_btnClear_tab2 .focus, #columnSearch_btnClear_tab2 .active:focus, #columnSearch_btnClear_tab2:active.focus, #columnSearch_btnClear_tab2:active:focus, #columnSearch_btnClear_tab2:focus { outline:none; border-color:#ccc }

	#row-details-current-table .title-column { color:#333; font-family: 'Oswald', sans-serif; font-weight:400; text-align:left }
	#row-details-current-table .data-column { font-family: Courier, Courier new, Serif; font-weight:300; text-align:left }

