/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ТАБЛИЦА "СВОДКА ПО ЭТАПАМ"

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-details-tab2 {  }
#docview-details-tab2 .details-control:hover { cursor:pointer }
#docview-details-tab2 .font-courier { font-family:courier,courier new,serif }
/*
/*
/* Заголовок таблицы */
#docview-details-tab2 > thead {	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2 > thead > tr > th { background-color:#f0f0f0; color:#111; border-bottom:none; font-weight:500; font-size:1.3em; text-transform:uppercase }
/*
/*
/* Тело таблицы */
#docview-details-tab2 > tbody > tr > td {
	font-family:'Play', sans-serif;
	font-size:1.0em;
	color:#666;
	border-bottom:none;
	border-top:none;
	padding: 5px 8px;
	line-height: 1.42857143;
	vertical-align: middle
}
#docview-details-tab2 > thead > tr > th:first-child, #docview-details-tab2 > tbody > tr > td:first-child { width:5%; text-align:center }
#docview-details-tab2 > thead > tr > th:nth-child(2), #docview-details-tab2 > tbody > tr > td:nth-child(2) { width:35%; text-align:left }
#docview-details-tab2 > thead > tr > th:nth-child(3), #docview-details-tab2 > tbody > tr > td:nth-child(3) { width:15%; text-align:center }
#docview-details-tab2 > thead > tr > th:nth-child(4), #docview-details-tab2 > tbody > tr > td:nth-child(4) { width:15%; text-align:center }
#docview-details-tab2 > thead > tr > th:nth-child(5), #docview-details-tab2 > tbody > tr > td:nth-child(5) { width:15%; text-align:center }
#docview-details-tab2 > thead > tr > th:nth-child(6), #docview-details-tab2 > tbody > tr > td:nth-child(6) { width:15%; text-align:center }
#docview-details-tab2 > tbody > tr > td.dataTables_empty { text-align:center; border-bottom:1px #951402 solid; border-top:1px #951402 solid; text-transform:uppercase; font-style:italic; color:#951402 }
#docview-details-tab2 > tbody > tr.shown > td { background-color:#336a86; color:#fff; font-weight:300 }
/*
/*
/* Подвал таблицы */
#docview-details-tab2 > tfoot > tr > th {
	font-family:'Play', sans-serif;
	font-size:1.0em;
	color:#111;
	padding: 5px 8px;
	line-height: 1.42857143;
	vertical-align: middle
}
#docview-details-tab2 > tfoot {	color:#111; font-family:'Play', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2 > tfoot > tr > th { border-bottom:none; font-weight:700 }
#docview-details-tab2 > tfoot > tr > th:first-child { text-align:right; text-transform:uppercase }
#docview-details-tab2 > tfoot > tr > th:nth-child(2) { text-align:center }
#docview-details-tab2 > tfoot > tr > th:nth-child(3) { text-align:center }
#docview-details-tab2 > tfoot > tr > th:nth-child(4) { text-align:center; color:#a94442 }


/*
/*
/* Разное */
#docview-tab2 .panel-title { font-size:1.3em; font-weight:600; text-transform:none;	padding:0 }
#docview-tab2 .panel { border:1px solid #f5f5f5 }

#docview-details-tab2 .sorting_asc:after { display:none }
#docview-details-tab2 > thead > tr > th.sorting_asc { padding-right:8px }
#docview-details-tab2 .sorting_desc:after { display:none }
#docview-details-tab2 > thead > tr > th.sorting_desc { padding-right:8px }

#row-details-tab2 { font-family:'Oswald', sans-serif; font-size:1.0em }
#row-details-tab2 > tbody >tr > td { text-align:left }
#docview-details-tab2 .details-body { border:3px #333 solid; border-radius:10px; border-collapse:collapse }
#end-of-child { border-bottom:3px #333 solid; border-left:3px #333 solid; border-right:3px #333 solid }
#docview-details-tab2-chfact.table < div < td { border-left:3px #333 solid; border-right:3px #333 solid }

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ТАБЛИЦА "СВОДКА ПО АВАНСАМ"

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-details-tab2-avans {  }
#docview-details-tab2-avans .details-control:hover { cursor:pointer }
#docview-details-tab2-avans .font-courier { font-family:courier,courier new,serif }
/*
/*
/* Заголовок таблицы */
#docview-details-tab2-avans > thead {	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2-avans > thead > tr > th { color:#111; border-bottom:none; font-weight:500; font-size:1.3em; text-transform:uppercase }
#docview-details-tab2-avans > thead > tr > th:first-child { background-color:#f0f0f0; width:36px; text-align:center }
#docview-details-tab2-avans > thead > tr > th:nth-child(2){ background-color:#f0f0f0; border-left: 2px #fff solid; width:5%; text-align:center }
#docview-details-tab2-avans > thead > tr > th:nth-child(3) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:left }
#docview-details-tab2-avans > thead > tr > th:nth-child(4) { background-color:#f0f0f0; text-align:right }
#docview-details-tab2-avans > thead > tr > th:nth-child(5) { background-color:#f0f0f0; width:15%; text-align:right  }
#docview-details-tab2-avans > thead > tr > th:nth-child(6) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right  }
#docview-details-tab2-avans > thead > tr > th:nth-child(7) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right  }
#docview-details-tab2-avans > thead > tr > th:nth-child(8) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }
/*
/*
/* Тело таблицы */
#docview-details-tab2-avans > tbody {	font-family:'Oswald', sans-serif; color:#666; border-bottom:none;	border-top:none }
#docview-details-tab2-avans > tbody > tr > td { border-bottom:none; padding: 5px 8px; line-height: 1.42857143; vertical-align: middle }
#docview-details-tab2-avans > tbody > tr > td:first-child { width:36px }
#docview-details-tab2-avans > tbody > tr > td:nth-child(2) { width:5%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(3) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(4) { font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(5) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(6) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(7) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td:nth-child(8) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-avans > tbody > tr > td.dataTables_empty { text-align:center; border-bottom:1px #951402 solid; border-top:1px #951402 solid; text-transform:uppercase; font-style:italic; color:#951402 }
#docview-details-tab2-avans > tbody > tr > td.docview-details-tab2-avans-numberstage { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-avans > tbody > tr > td.docview-details-tab2-avans-dateplan { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-avans > tbody > tr > td.docview-details-tab2-avans-namestage { font-family:'Oswald', sans-serif; font-weight:500; font-size:1.3em; text-transform:none }
#docview-details-tab2-avans > tbody > tr > td.docview-details-tab2-avans-summastage { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-avans > tbody > tr > td { border-top:none }
#docview-details-tab2-avans > tbody > tr.shown > td { background-color:#336a86; color:#fff; font-weight:300 }
#docview-details-tab2-avans > tbody > tr > td.docview-details-tab2-avans-collapse { padding:0 }
/*
/*
/* Подвал таблицы */
#docview-details-tab2-avans > tfoot {	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2-avans > tfoot > tr > th { border-bottom:none; font-weight:500; font-size:1.3em; text-transform:uppercase }
#docview-details-tab2-avans > tfoot > tr > th.docview-details-tab2-avans-summastage { text-align:right; text-transform:none }

#docview-details-tab2-avans-collapse-table > thead > tr > th,
#docview-details-tab2-avans-collapse-table > tbody > tr > td { font-family:courier,courier new,serif; border-bottom:none; border-top:none }
#docview-details-tab2-avans-collapse-table > tbody > tr > td:first-child { width:52%; font-family:courier,courier new,serif; text-align:left }
#docview-details-tab2-avans-collapse-table > tbody > tr > td:nth-child(2) { width:16%; font-family:courier,courier new,serif; text-align:right }
#docview-details-tab2-avans-collapse-table > tbody > tr > td:nth-child(3) { width:16%; font-family:courier,courier new,serif; text-align:right }
#docview-details-tab2-avans-collapse-table > tbody > tr > td:nth-child(4) { width:16%; font-family:courier,courier new,serif; text-align:right }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ТАБЛИЦА "СВОДКА ПО СЧЕТАМ-ФАКТУРАМ"

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-details-tab2-chetfzadolg {  }
#docview-details-tab2-chetfzadolg .details-control:hover { cursor:pointer }
#docview-details-tab2-chetfzadolg .font-courier { font-family:courier,courier new,serif }
/*
/*
/* Заголовок таблицы */
#docview-details-tab2-chetfzadolg > thead {	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2-chetfzadolg > thead > tr > th { color:#111; border-bottom:none; font-weight:500; font-size:1.3em; text-transform:uppercase }

#docview-details-tab2-chetfzadolg > thead > tr > th:first-child { background-color:#f0f0f0; width:36px; text-align:center }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(2) { background-color:#f0f0f0; border-left: 2px #fff solid; width:5%; text-align:center }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(3) { background-color:#f0f0f0; border-left: 2px #fff solid; width:5%; text-align:center }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(4) { background-color:#f0f0f0; border-left: 2px #fff solid; width:28%; text-align:left  }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(5) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right  }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(6) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right  }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(7) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right  }
#docview-details-tab2-chetfzadolg > thead > tr > th:nth-child(8) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }
/*
/*
/* Тело таблицы */
#docview-details-tab2-chetfzadolg > tbody {	font-family:'Oswald', sans-serif; color:#666; border-bottom:none;	border-top:none }
#docview-details-tab2-chetfzadolg > tbody > tr > td { border-bottom:none; padding: 5px 8px; line-height: 1.42857143; vertical-align: middle }

#docview-details-tab2-chetfzadolg > tbody > tr > td:first-child { width:36px; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(2) { width:5%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(3) { width:5%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(4) { width:28%; font-family:courier,courier new,serif; text-align:left }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(5) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(6) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(7) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td:nth-child(8) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg > tbody > tr > td.dataTables_empty { text-align:center; border-bottom:1px #951402 solid; border-top:1px #951402 solid; text-transform:uppercase; font-style:italic; color:#951402 }
#docview-details-tab2-chetfzadolg > tbody > tr > td.docview-details-tab2-chetfzadolg-numberstage { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-chetfzadolg > tbody > tr > td.docview-details-tab2-chetfzadolg-dateplan { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-chetfzadolg > tbody > tr > td.docview-details-tab2-chetfzadolg-namestage { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-chetfzadolg > tbody > tr > td.docview-details-tab2-chetfzadolg-summastage { font-weight:300; font-size:1.0em; text-transform:none }
#docview-details-tab2-chetfzadolg > tbody > tr > td { border-top:none }
#docview-details-tab2-chetfzadolg > tbody > tr.shown > td { background-color:#336a86; color:#fff; font-weight:300 }
/*
/*
/* Подвал таблицы */
#docview-details-tab2-chetfzadolg > tfoot {	color:#111; font-family:'Oswald', sans-serif; border-bottom:none;	border-top:none }
#docview-details-tab2-chetfzadolg > tfoot > tr > th { border-bottom:none; font-weight:500; font-size:1.3em; text-transform:uppercase }
#docview-details-tab2-chetfzadolg > tfoot > tr > th.docview-details-tab2-chetfzadolg-summastage { text-align:right; text-transform:none }

#docview-details-tab2-chetfzadolg > tbody > tr > td.docview-details-tab2-chetfzadolg-collapse { padding:0 }
/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ТАБЛИЦА "СЧЕТА-ФАКТУРЫ COLLAPSE"

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
#docview-details-tab2-chetfzadolg-collapse-table { margin-bottom:0 }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td { border-bottom:none; border-top:none }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:first-child { background-color:#f0f0f0; width:36px; text-align:center }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(2) { background-color:#f0f0f0; border-left: 2px #fff solid; width:5%; text-align:center }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(3) { background-color:#f0f0f0; border-left: 2px #fff solid; width:5%; text-align:center }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(4) { background-color:#f0f0f0; border-left: 2px #fff solid; text-align:left }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(5) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(6) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(7) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }
#docview-details-tab2-chetfzadolg-collapse-table > thead > tr > th:nth-child(8) { background-color:#f0f0f0; border-left: 2px #fff solid; width:15%; text-align:right }

#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:first-child { width:36px; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(2) { width:5%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(3) { width:5%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(4) { font-family:courier,courier new,serif; text-align:left }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(5) { font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(6) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(7) { width:15%; font-family:courier,courier new,serif }
#docview-details-tab2-chetfzadolg-collapse-table > tbody > tr > td:nth-child(8) { width:15%; font-family:courier,courier new,serif }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#docview-details-tab2-avans .docview-details-tab2-nokalplan,
#docview-details-tab2-chetfzadolg .docview-details-tab2-nokalplan { font-family:courier,courier new,serif; color:#111; font-weight:500; font-size:1.0em }

