/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/*
	Пользовательская форма создания/редактирования записи
*/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/**/
/**/
#DTE_Field_dognet_docpaperotgr-msgDocFileID {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-family: 'HeliosCond',sans-serif;
    color: #b95959;
    border: 2px #b95959 solid;
    background-color: transparent;
    padding: 5% 0;
}
div.DTE div.editor_upload div.cell {
    display: table-cell;
    position: relative;
    width: 100%;
    vertical-align: top;
}

#customForm-otgrpaper-main div.DTE_Field_InputControl div.cell.upload.limitHide > button

#customForm-otgrpaper-main .cell.upload,
#customForm-otgrpaper-main div.DTE_Field_InputControl div.cell.upload.limitHide > button {
    color: #333;
    background-color: #f1f1f1;
    border-color: #f0f0f0;
    font-size: 1.0em;
    height: 3.0em;
}
#customForm-otgrpaper-main div.DTE_Field_InputControl div.row.second div.cell.limitHide,
#customForm-otgrpaper-main div.DTE_Field_InputControl div.cell.clearValue {
    display: none;
}
textarea[id=DTE_Field_dognet_docpaperotgr-commentloader],
textarea[id=DTE_Field_dognet_docpaperotgr-commentotgr],
textarea[id=DTE_Field_dognet_docpaperotgr-namedocotgr] { resize:none }
