/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица счетов-фактур: #zayvview-chet-child-chetf
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#zayvview-chet-child-chetf {  }
#zayvview-chet-child-chetf { /* border:2px #951402 solid */ }
#zayvview-chet-child-chetf .details-control:hover { cursor:pointer }
#zayvview-chet-child-chetf .font-courier { font-family:courier,courier new,serif }

#zayvview-chet-child-chetf.dataTable tbody > tr.selected, #zayvview-chet-child-chetf.dataTable tbody > tr > .selected {  }
#zayvview-chet-child-chetf.dataTable tbody tr.selected, #zayvview-chet-child-chetf.dataTable tbody th.selected, #zayvview-chet-child-chetf.dataTable tbody td.selected { color:white }
/*
/*
/* Заголовок таблицы */
#zayvview-chet-child-chetf > thead {  }
#zayvview-chet-child-chetf > thead { background-color:#000;	color:#fff;	font-weight:300 }
#zayvview-chet-child-chetf > thead > tr > th { font-family:'Oswald', sans-serif; font-weight:500; border-bottom:none; padding:2px 5px; text-transform:uppercase }
#zayvview-chet-child-chetf > thead > tr > th:first-child { text-align:center }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(2) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(3) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(4) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(5) { text-align:left }
#zayvview-chet-child-chetf > thead > tr > th:nth-child(6) { text-align:center }
/* Тело таблицы */
#zayvview-chet-child-chetf > tbody { font-size:0.85em; color:#666; border-bottom:none;	border-top:none }
#zayvview-chet-child-chetf > tbody > tr > td { padding:2px 5px; line-height: 1.42857143; vertical-align: middle }
#zayvview-chet-child-chetf > tbody > tr > td {  }
#zayvview-chet-child-chetf > tbody > tr > td:first-child { width:1%; text-align:center }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(2) { width:7%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(3) { width:12%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(4) { width:65%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(5) { width:12%; text-align:left }
#zayvview-chet-child-chetf > tbody > tr > td:nth-child(6) { width:3%; text-align:center }
#zayvview-chet-child-chetf > tbody > tr > td.dataTables_empty { text-align:left; text-transform:none; color:#666; background-color:#fafafa }
/* Подвал таблицы */
#zayvview-chet-child-chetf > tfoot > tr > th:first-child { text-align:center }
#zayvview-chet-child-chetf > tfoot > tr > th:nth-child(2) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(3) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(4) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(5) { text-align:left }
#zayvview-chet-child-chetf > tfoot > tr > td:nth-child(6) { text-align:center }

#zayvview-chet-child-chetf .sorting_asc:after, #zayvview-chet-child-chetf .sorting_desc:after, #zayvview-chet-child-chetf .sorting:after { display:none }
#zayvview-chet-child-chetf > thead > tr > th.sorting_asc { padding-right:8px }
/* Подвал таблицы */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/*
	Пользовательская форма создания/редактирования записи
*/
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf { display: flex; flex-flow: row wrap; }
#customForm_zayvview_chetf fieldset legend { padding: 5px 20px; font-weight: bold; }
#customForm_zayvview_chetf fieldset.name { flex: 1 50%; }
#customForm_zayvview_chetf fieldset.name legend {}
#customForm_zayvview_chetf fieldset.office legend {}
#customForm_zayvview_chetf fieldset.hr legend { background: #ffbfbf; }
#customForm_zayvview_chetf div.DTE_Field { padding:0; text-align: left; }
#customForm_zayvview_chetf div.DTE_Field > label.control-label { text-align: left; font-family: 'HeliosCond', sans-serif; text-transform: none; font-style: normal; font-weight: bold; font-size: 1.3em; color: #000; }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
div.modal-dialog { margin:1.0em auto; width:80% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf {
	font-family: 'Play', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf div.Section {
	justify-content:flex-start;
	padding:0;
	background-color:#fafafa;
	display:flex;
	flex-flow:row wrap;
	flex-grow:1;
	flex-shrink:2;
	flex-basis:70%;
	align-content:flex-start;
}
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf div.Block100 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:100%; justify-content:flex-start; align-content:flex-start }
#customForm_zayvview_chetf div.Block75 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:75%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block70 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:70%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block60 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:60%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block50 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:50%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block40 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:40%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block30 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:30%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block25 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:25%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
#customForm_zayvview_chetf div.Block20 { display:flex; flex-flow:row wrap; flex-grow:0; flex-shrink:0; flex-basis:20%; justify-content:flex-start; align-content:flex-start; padding: 0 2px }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf > div.Section > div > fieldset > div > label.control-label { width: 100% }
#customForm_zayvview_chetf > div.Section > div.Block100 > fieldset.dateplan > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
		#customForm_zayvview_chetf fieldset.field10 { flex-grow:0; flex-shrink:0; flex-basis:10% }
		#customForm_zayvview_chetf fieldset.field10 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field15 { flex-grow:0; flex-shrink:0; flex-basis:15% }
		#customForm_zayvview_chetf fieldset.field15 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field20 {	flex-grow:0; flex-shrink:0; flex-basis:20% }
		#customForm_zayvview_chetf fieldset.field20 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field25 {	flex-grow:0; flex-shrink:0; flex-basis:25% }
		#customForm_zayvview_chetf fieldset.field25 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field30 {	flex-grow:0; flex-shrink:0; flex-basis:30% }
		#customForm_zayvview_chetf fieldset.field30 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field40 {	flex-grow:0; flex-shrink:0; flex-basis:40% }
		#customForm_zayvview_chetf fieldset.field40 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field45 {	flex-grow:0; flex-shrink:0; flex-basis:45% }
		#customForm_zayvview_chetf fieldset.field45 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field50 {	flex-grow:0; flex-shrink:0; flex-basis:50% }
		#customForm_zayvview_chetf fieldset.field50 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field60 {	flex-grow:0; flex-shrink:0; flex-basis:60% }
		#customForm_zayvview_chetf fieldset.field60 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field70 {	flex-grow:0; flex-shrink:0; flex-basis:70% }
		#customForm_zayvview_chetf fieldset.field70 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field80 {	flex-grow:0; flex-shrink:0; flex-basis:80% }
		#customForm_zayvview_chetf fieldset.field80 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field90 {	flex-grow:0; flex-shrink:0; flex-basis:90% }
		#customForm_zayvview_chetf fieldset.field90 > div > div { width:100% }
		#customForm_zayvview_chetf fieldset.field100 { flex-grow:0; flex-shrink:0; flex-basis:100% }
		#customForm_zayvview_chetf fieldset.field100 > div > div { width:100% }
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#customForm_zayvview_chetf div.DTE_Field_InputControl { text-align:center }
#customForm_zayvview_chetf > div.Section > div > fieldset > div.DTE_Field_Type_checkbox > label.control-label { text-align:center }
#customForm_zayvview_chetf div.DTE_Field_InputControl > div > div > label { display:none }
#customForm_zayvview_chetf fieldset > div > label.control-label { width:100% }

#customForm_zayvview_chetf > div.Section > div > legend,
#customForm_zayvview_chetf > div.Section > div > div > legend { padding: 5px 0 5px 15px; font-family: 'HeliosCond', sans-serif; font-weight: normal; border: none; border-left: 10px #b95959 solid; text-transform: none; color: #111; background-color: #ddd; }
