/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----

ОСНОВНАЯ ТАБЛИЦА

----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */

#docview-sub-main td.highlight_td {
  background-color: #fafafa;
  font-weight: 500;
  color: #000
}

#docview-sub-main td.highlight_0 {
  background-color: #fafafa
}

#docview-sub-main td.highlight_1 {
  background-color: #fafafa
}

#docview-sub-main td.highlight_2 {
  background-color: #fafafa
}

#docview-sub-main.dataTable tbody tr.selected td.highlight_0,
#docview-sub-main.dataTable tbody tr.selected td.highlight_1,
#docview-sub-main.dataTable tbody tr.selected td.highlight_2 {
  color: #666
}

/*
/*
/* Заголовок таблицы */
#docview-sub-main>thead {
  background-color: #f1f1f1;
  color: #111;
  font-family: 'Oswald', sans-serif;
  border-bottom: none;
  border-top: none
}

#docview-sub-main>thead>tr>th {
  color: #333;
  border-bottom: none;
  font-weight: 500;
  text-transform: uppercase
}

#docview-sub-main .sorting:after,
#docview-sub-main .sorting_asc:after,
#docview-sub-main .sorting_desc:after {
  display: none
}

#docview-sub-main>thead>tr>th.sorting,
#docview-sub-main>thead>tr>th.sorting_asc,
#docview-sub-main>thead>tr>th.sorting_desc {
  padding-right: 8px
}

/*
/*
/* Тело таблицы */
#docview-sub-main {}

#docview-sub-main>tbody {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9em;
  color: #666;
  border-bottom: none;
  border-top: none
}

#docview-sub-main>tbody>tr>td {}

#docview-sub-main>tbody>tr>td {
  padding: 2px 5px;
  line-height: 1.42857143;
  vertical-align: middle;
}

#docview-sub-main>thead>tr>th {
  border-bottom: none
}

#docview-sub-main>tbody>tr>td {}

#docview-sub-main>tbody>tr>td:last-child {
  text-align: right
}

#docview-sub-main>tfoot>tr>td {
  padding: 5px 4px
}

#docview-sub-main>tfoot {
  background-color: #999;
}

#docview-details-tab6-sub-message-table>tbody>tr>td {
  border-top: none;
  border-bottom: none
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
#docview-sub-main>thead>tr>th:first-child,
#docview-sub-main>tbody>tr>td:first-child {
  width: 2%;
  text-align: center
}

#docview-sub-main>thead>tr>th:nth-child(2),
#docview-sub-main>tbody>tr>td:nth-child(2) {
  width: 10%;
  text-align: center
}

#docview-sub-main>thead>tr>th:nth-child(3),
#docview-sub-main>tbody>tr>td:nth-child(3) {
  width: 10%;
  text-align: center
}

#docview-sub-main>thead>tr>th:nth-child(4),
#docview-sub-main>tbody>tr>td:nth-child(4) {
  width: 48%;
  text-align: left
}

#docview-sub-main>thead>tr>th:nth-child(5),
#docview-sub-main>tbody>tr>td:nth-child(5) {
  width: 15%;
  text-align: center
}

#docview-sub-main>thead>tr>th:nth-child(6),
#docview-sub-main>tbody>tr>td:nth-child(6) {
  width: 15%;
  text-align: center
}

#docview-sub-main .details-control:hover {
  cursor: pointer
}

#docview-sub-main>tbody>tr.dtrg-group.dtrg-start.dtrg-level-0>td {
  text-align: left
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
#docview-sub-main .sorting_asc:after {
  display: none
}

#docview-sub-main>thead>tr>th.sorting_asc {
  padding-right: 8px
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-docview-sub-main-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#template-details-sub-main {
  border: 2px #666 solid;
  border-radius: 5px;
  background-color: #fff
}

#row-details-docview-sub-main-tabs .nav>li>a {
  color: #fff
}

#row-details-docview-sub-main-tabs .nav>li>a:focus,
#row-details-docview-sub-main-tabs .nav>li>a:hover {
  background-color: transparent;
}

#row-details-docview-sub-main-tabs .nav-tabs>li.active>a {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-main-tabs .nav-tabs>li>a:hover {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-main-tabs .nav-tabs>li>a::after {
  background: #f1f1f1
}

#row-details-docview-sub-main-tabs>div.row>div>ul>li>a {
  font-family: 'Play', sans-serif
}

/* Изменено 20.06.2019 --- */
#row-details-docview-sub-main-tabs-menu {
  background: #666;
  padding: 0;
  border-bottom: none;
  margin-bottom: 20px
}

#row-details-docview-sub-main-tabs-menu>li>a:hover {
  background-color: #f1f1f1
}

#row-details-docview-sub-main-tabs-menu>li>a::after {
  content: "";
  background: #f1f1f1;
  height: 40px;
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

#row-details-docview-sub-main-tabs-menu>li.active>a::after,
#row-details-docview-sub-main-tabs-menu>li:hover>a::after {
  transform: scale(1)
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#row-details-docview-sub-main-tabs .nav>li>a {
  color: #fff
}

#row-details-docview-sub-main-tabs .nav>li>a:focus,
#row-details-docview-sub-main-tabs .nav>li>a:hover {
  background-color: transparent;
}

#row-details-docview-sub-main-tabs .nav-tabs>li.active>a {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-main-tabs .nav-tabs>li>a:hover {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-main-tabs .nav-tabs>li>a::after {
  background: #f1f1f1
}

#row-details-docview-sub-main-tabs>div.row>div>ul>li>a {
  font-family: 'Play', sans-serif
}

/* Изменено 20.06.2019 --- */
#row-details-docview-sub-main-tabs-menu {
  background: #666;
  padding: 0;
  border-bottom: none;
  margin-bottom: 20px
}

#row-details-docview-sub-main-tabs-menu>li>a:hover {
  background-color: #f1f1f1
}

#row-details-docview-sub-main-tabs-menu>li>a::after {
  content: "";
  background: #f1f1f1;
  height: 40px;
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

#row-details-docview-sub-main-tabs-menu>li.active>a::after,
#row-details-docview-sub-main-tabs-menu>li:hover>a::after {
  transform: scale(1)
}

#row-details-docview-sub-main-table {
  margin-bottom: 0;
  background-color: transparent
}

#row-details-docview-sub-main-table>tbody {
  color: #333;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  font-size: 1.0em
}

#row-details-docview-sub-main-table>tbody>tr>td {
  border-top: none;
  padding: 3px 5px;
}

#row-details-docview-sub-main-table>tbody>tr>td:first-child {
  text-align: left
}

#row-details-docview-sub-main-table>tbody>tr>td:nth-child(2) {
  text-align: left
}

#row-details-docview-sub-main-table>tbody>tr>td:nth-child(3) {
  text-align: left;
  vertical-align: bottom
}

#row-details-docview-sub-main-table>tbody>tr>td:nth-child(4) {
  text-align: left;
  vertical-align: bottom
}

.row-details-docview-sub-main-table-title_blank {
  color: #336a86;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-transform: none;
  font-weight: 500;
  text-align: left;
  padding: 0 25px;
  line-height: 1.5em
}

.row-details-docview-sub-main-table-blankstatus {
  color: #336a86;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-transform: none;
  font-weight: 200;
  text-align: left;
  padding: 0 25px
}

.row-details-docview-sub-main-table-title_topic {
  color: #000;
  text-transform: uppercase;
  font-weight: 700
}

.row-details-docview-sub-main-table-title {
  color: #666;
  font-weight: 700
}

.row-details-docview-sub-main-table-txt {
  color: #666;
  font-weight: 300
}

.row-details-docview-sub-main-table-link {
  color: #666;
  font-weight: 500;
  text-decoration: underline
}

.row-details-docview-sub-main-table-link:hover {
  color: #666;
  text-decoration: none
}

.txt-parameter {
  margin: 0 10px;
  padding: 0 30px;
  border-bottom: 1px #ccc solid;
  font-family: 'Courier New'
}

.tr-title {
  background: #f1f1f1
}

.td-title {
  background: #f1f1f1
}

#subpodr-block-legend .label-icon {
  color: #111;
  background-color: transparent;
  border: 1px #f1f1f1 solid;
  padding: 0.5em;
  margin-left: 15px;
  margin-right: 15px;
}

#subpodr-block-legend span.lbl {
  min-width: 42px;
  text-align: center;
  font-size: 0.9em;
  border-radius: 2px;
  white-space: nowrap;
  padding: 1px 2px;
}

#subpodr-block-legend span.lbl.lbl-light {
  background-color: #f1f1f1;
  color: #666;
}

#subpodr-block-legend span.lbl.lbl-red {
  background-color: #d9534f;
  color: #fff;
}

#subpodr-block-legend span.lbl.lbl-red-o {
  border: 1px solid #d9534f;
  border-radius: 2px;
  background-color: #fff;
  color: #d9534f;
}

#subpodr-block-legend span.lbl.lbl-green {
  background-color: #317031;
  color: #fff;
}