/*
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
Таблица счетов-фактур: #docview-sub-child-avans
----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/
/*
/* Общее для таблицы */
#docview-sub-child-avans {}

#docview-sub-child-avans {
  /* border:2px #951402 solid */
}

#docview-sub-child-avans .details-control:hover {
  cursor: pointer
}

#docview-sub-child-avans .font-courier {
  font-family: courier, courier new, serif
}

#docview-sub-child-avans.dataTable tbody>tr.selected,
#docview-sub-child-avans.dataTable tbody>tr>.selected {}

#docview-sub-child-avans.dataTable tbody tr.selected,
#docview-sub-child-avans.dataTable tbody th.selected,
#docview-sub-child-avans.dataTable tbody td.selected {
  color: white
}

/*
/*
/* Заголовок таблицы */
#docview-sub-child-avans>thead {
  background-color: #f1f1f1;
  color: #111;
  font-family: 'Oswald', sans-serif;
  border-bottom: none;
  border-top: none
}

#docview-sub-child-avans>thead>tr>th {
  font-size: 1.1em;
  color: #333;
  border-bottom: none;
  font-weight: 500;
  text-transform: uppercase
}

#docview-sub-child-avans>tbody {
  font-family: 'Play', sans-serif;
  font-size: 0.85em;
  color: #666;
  border-bottom: none;
  border-top: none
}

#docview-sub-child-avans>tbody>tr>td div.lbl {
  min-width: 42px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 2px;
  white-space: nowrap;
  padding: 1px 2px;
}

#docview-sub-child-avans>tbody>tr>td div.lbl.lbl-light {
  background-color: #f1f1f1;
  color: #666;
}

#docview-sub-child-avans>tbody>tr>td div.lbl.lbl-red {
  background-color: #d9534f;
  color: #fff;
}

#docview-sub-child-avans>tbody>tr>td div.lbl.lbl-red-o {
  border: 1px solid #d9534f;
  border-radius: 2px;
  background-color: #fff;
  color: #d9534f;
}

#docview-sub-child-avans>tbody>tr>td div.lbl.lbl-green {
  background-color: #317031;
  color: #fff;
}

#docview-sub-child-avans>tbody>tr>td {
  padding: 2px 5px;
  line-height: 1.42857143;
  vertical-align: middle
}

#docview-sub-child-avans>tbody>tr>td {
  padding: 2px 5px;
  line-height: 1.42857143;
  vertical-align: middle;
}

#docview-sub-child-avans>thead>tr>th:first-child {
  width: 24px;
  min-width: 24px;
  text-align: center;
}

#docview-sub-child-avans>tbody>tr>td:first-child {
  width: 24px;
  min-width: 24px;
  text-align: center;
  color: #0085c7;
  line-height: normal;
  padding: 2px 2px;
}

#docview-sub-child-avans>thead>tr>th:nth-child(2),
#docview-sub-child-avans>tbody>tr>td:nth-child(2) {
  width: 64px;
  min-width: 64px;
  text-align: center
}

#docview-sub-child-avans>thead>tr>th:nth-child(3),
#docview-sub-child-avans>tbody>tr>td:nth-child(3) {
  width: 82px;
  min-width: 60px;
  text-align: left
}

#docview-sub-child-avans>thead>tr>th:nth-child(4),
#docview-sub-child-avans>tbody>tr>td:nth-child(4) {
  width: 19%;
  text-align: right;
  white-space: nowrap;
}

#docview-sub-child-avans>thead>tr>th:nth-child(5),
#docview-sub-child-avans>tbody>tr>td:nth-child(5) {
  width: 19%;
  text-align: right;
  white-space: nowrap;
}

#docview-sub-child-avans>thead>tr>th:nth-child(6),
#docview-sub-child-avans>tbody>tr>td:nth-child(6) {
  width: 19%;
  text-align: right;
  white-space: nowrap;
}

#docview-sub-child-avans>thead>tr>th:nth-child(7),
#docview-sub-child-avans>tbody>tr>td:nth-child(7) {
  width: 30%;
  text-align: right;
  white-space: nowrap;
}

#docview-sub-child-avans>tbody>tr>td.dataTables_empty {
  text-align: center;
  text-transform: none;
  color: #CB1010;
  background-color: #FFF;
  padding: 8px 0;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  /* font-style: italic; */
}


#docview-sub-child-avans .sorting_asc:after,
#docview-sub-child-avans .sorting_desc:after,
#docview-sub-child-avans .sorting:after {
  display: none
}

#docview-sub-child-avans>thead>tr>th.sorting_asc {
  padding-right: 8px
}

/* Подвал таблицы */


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* 	ШАБЛОН CHILD-ТАБЛИЦЫ : row-details-docview-sub-child-avans-table
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#template-details-sub-child-avans {
  border: 2px #666 solid;
  border-radius: 5px;
  background-color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav>li>a {
  color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav>li>a:focus,
#row-details-docview-sub-child-avans-tabs .nav>li>a:hover {
  background-color: transparent;
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li.active>a {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li>a:hover {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li>a::after {
  background: #f1f1f1
}

#row-details-docview-sub-child-avans-tabs>div.row>div>ul>li>a {
  font-family: 'Play', sans-serif
}

/* Изменено 20.06.2019 --- */
#row-details-docview-sub-child-avans-tabs-menu {
  background: #666;
  padding: 0;
  border-bottom: none;
  margin-bottom: 20px
}

#row-details-docview-sub-child-avans-tabs-menu>li>a:hover {
  background-color: #f1f1f1
}

#row-details-docview-sub-child-avans-tabs-menu>li>a::after {
  content: "";
  background: #f1f1f1;
  height: 40px;
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

#row-details-docview-sub-child-avans-tabs-menu>li.active>a::after,
#row-details-docview-sub-child-avans-tabs-menu>li:hover>a::after {
  transform: scale(1)
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
#row-details-docview-sub-child-avans-tabs .nav>li>a {
  color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav>li>a:focus,
#row-details-docview-sub-child-avans-tabs .nav>li>a:hover {
  background-color: transparent;
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li.active>a {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li>a:hover {
  color: #111 !important;
  background-color: #fff
}

#row-details-docview-sub-child-avans-tabs .nav-tabs>li>a::after {
  background: #f1f1f1
}

#row-details-docview-sub-child-avans-tabs>div.row>div>ul>li>a {
  font-family: 'Play', sans-serif
}

/* Изменено 20.06.2019 --- */
#row-details-docview-sub-child-avans-tabs-menu {
  background: #666;
  padding: 0;
  border-bottom: none;
  margin-bottom: 20px
}

#row-details-docview-sub-child-avans-tabs-menu>li>a:hover {
  background-color: #f1f1f1
}

#row-details-docview-sub-child-avans-tabs-menu>li>a::after {
  content: "";
  background: #f1f1f1;
  height: 40px;
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

#row-details-docview-sub-child-avans-tabs-menu>li.active>a::after,
#row-details-docview-sub-child-avans-tabs-menu>li:hover>a::after {
  transform: scale(1)
}

#row-details-docview-sub-child-avans-table {
  margin-bottom: 0;
  background-color: transparent
}

#row-details-docview-sub-child-avans-table>tbody {
  color: #333;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  font-size: 1.0em
}

#row-details-docview-sub-child-avans-table>tbody>tr>td {
  border-top: none;
  padding: 3px 5px;
}

#row-details-docview-sub-child-avans-table>tbody>tr>td:first-child {
  text-align: left
}

#row-details-docview-sub-child-avans-table>tbody>tr>td:nth-child(2) {
  text-align: left
}

#row-details-docview-sub-child-avans-table>tbody>tr>td:nth-child(3) {
  text-align: left;
  vertical-align: bottom
}

#row-details-docview-sub-child-avans-table>tbody>tr>td:nth-child(4) {
  text-align: left;
  vertical-align: bottom
}

.row-details-docview-sub-child-avans-table-title_blank {
  color: #336a86;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-transform: none;
  font-weight: 500;
  text-align: left;
  padding: 0 25px;
  line-height: 1.5em
}

.row-details-docview-sub-child-avans-table-blankstatus {
  color: #336a86;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-transform: none;
  font-weight: 200;
  text-align: left;
  padding: 0 25px
}

.row-details-docview-sub-child-avans-table-title_topic {
  color: #000;
  text-transform: uppercase;
  font-weight: 700
}

.row-details-docview-sub-child-avans-table-title {
  color: #666;
  font-weight: 700
}

.row-details-docview-sub-child-avans-table-txt {
  color: #666;
  font-weight: 300
}

.row-details-docview-sub-child-avans-table-link {
  color: #666;
  font-weight: 500;
  text-decoration: underline
}

.row-details-docview-sub-child-avans-table-link:hover {
  color: #666;
  text-decoration: none
}

.txt-parameter {
  margin: 0 10px;
  padding: 0 30px;
  border-bottom: 1px #ccc solid;
  font-family: 'Courier New'
}

.tr-title {
  background: #f1f1f1
}

.td-title {
  background: #f1f1f1
}